<menu>
    <Services>
        <Ctrld VisibleName="ctrld" cssClass="fa fa-random fa-fw">
            <General order="10" url="/ui/ctrld/general"/>
            <Listeners order="20" url="/ui/ctrld/listeners"/>
            <Upstreams order="30" url="/ui/ctrld/upstreams"/>
            <Policies order="40" url="/ui/ctrld/policies"/>
            <Clients VisibleName="Discovered Clients" order="60" url="/ui/ctrld/clients"/>
            <LogFile VisibleName="Log File" order="70" url="/ui/ctrld/log"/>
        </Ctrld>
    </Services>
</menu>
