<menu>
    <services>
        <ctrld cssClass="fa fa-random fa-fw" order="60">
            <name>ctrld</name>
            <acl>page-ctrld-config</acl>
            <visiblename>ctrld</visiblename>
            <configuration>
                <general url="/ui/ctrld/general/index" order="10">
                    <name>Configuration</name>
                </general>
            </configuration>
        </ctrld>
    </services>
</menu>
